*.o
*.lo
*.stamp
*.stamp-t
.deps
.dirstamp
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.*
configure
libtool
m4
analyze/*.c
analyze/*.h
analyze/mlm-analyze
copy-tags/*.c
copy-tags/*.h
copy-tags/mlm-copy-tags
encoder/*.c
encoder/*.h
encoder/mlm-encoder
id3tag-x/libid3tag-x.la
mlm/*.c
mlm/*.h
mlm/libmlm.la
src/*.c
src/*.h
src/mlm-encoder
tags/*.c
tags/*.h
tags/mlm-tags
verify/*.c
verify/*.h
verify/mlm-verify
stamp-h1
stamp-it
vapi/mlm.vapi
po/POTFILES
