*.o
*.la
*.lo
*.stamp
*.stamp-t
.deps
.dirstamp
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.*
configure
libtool
m4
src/*.c
src/*.h
src/mlm-encoder
src/mlm-tags
src/mlm-verify
stamp-h1
vapi/mlm.vapi
