*.a
*.o
*.stamp
.deps
.dirstamp
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.*
configure
src/mlm-fix-duplicated-pictures
src/mlm-fix-pictures
src/mlm-tags
src/*.c
stamp-h1