[Desktop Entry]
Name=MLM Encoder
GenericName=Music Library Maintainer Encoder
Comment=Edit, Normalize and Encode MP3 so the library is consistent
Exec=mlm-encoder %F
Terminal=false
Type=Application
Icon=mlm-encoder
Categories=GNOME;GTK;AudioVideo;
MimeType=audio/x-mp3;audio/x-mpeg;audio/mpeg;
